/* Light mode */
:root
{
	--body-bg: #e4e6ec;
	--body-color: #000000;
	--h1-backgroud: #7878de;
	--h2-backgroud: #a0a0ed;
	--h-border: #888;
	--link-colour: blue;
	--visited-link-colour: purple;
	--hover-link-colour: #3333ff;
	--active-link-colour: #ff4040;
}

/* Dark mode */
@media (prefers-color-scheme: dark)
{
	:root{
		--body-bg: #242424;
		--body-color: #cccccc;
		--h1-backgroud: #563f96;
		--h2-backgroud: #5e5e98;
		--h-border: #3b3954;
		--link-colour: lightskyblue;
		--visited-link-colour: #8d6bad;
		--hover-link-colour: #a7fefa;
		--active-link-colour: #ff4040;
	}
}

body
{
	font-family: verdana, sans-serif;
	color: var(--body-color);
	background-color: var(--body-bg);
}

h1
{
	background-color: var(--h1-backgroud);
	border:1px solid var(--h-border);
	padding:5px;
	text-align:left;
	margin: 5px 0px 5px 0px;
}

h2
{
	background-color: var(--h2-backgroud);
	border:1px solid var(--h-border);
	padding:3px;
	text-align:left;
	margin: 5px 0px 5px 0px;
}

a:link { color: var(--link-colour); }
a:hover { color: var(--hover-link-colour); }
a:visited { color: var(--visited-link-colour); }
a:active { color: var(--active-link-colour); }
